<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <div class="container" style="margin-top: 10pc;">
                    <form action="/signup" method="POST">
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" name="email" id="form2Example1" class="form-control" />
                            <label class="form-label" for="form2Example1">Email address</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" name="password" id="form2Example2" class="form-control" />
                            <label class="form-label" for="form2Example2">Password</label>
                        </div>
                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="conformedPassword" name="conformedPassword" id="form2Example2" class="form-control" />
                            <label class="form-label" for="form2Example2">Conformed Password</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>


                    </form>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>